@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap");
* {
  font-family: "Helvetica", monospace;
}

#app {
  display: grid;
  width: 300px;
  height: 400px;
  grid-template-areas: "result result result result" "result result result result" "clear clear div mult" "num7 num8 num9 sub" "num4 num5 num6 sum" "num1 num2 num3 equal" "num0 num0 dot equal";
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 50px auto;
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.12);
}

#app button {
  margin: 3px;
  border-radius: 10px;
}

#app h1 {
  margin: 3px;
  border-radius: 5px;
}

#app button {
  font-size: 1.5rem;
  background-color: #161616;
  border: none;
}

#app button:hover {
  background-color: #333333;
}

#app h1 {
  align-content: center;
}

#app #display {
  font-family: Handjet, monospace;
  grid-area: result;
  text-align: right;
  background-color: #92a47d;
  align-self: center;
  height: 80%;
  padding-right: 10px;
  font-size: 2rem;
  color:#000000
}

#app #clear {
  grid-area: clear;
  background-color: #f57b7b;
}

#app #clear:hover {
  background-color: #f09e9e;
}

#app #sum, #app #sub, #app #div, #app #mult {
  background-color: #77e1d1;
  border-radius: 50px;
}

#app #sum:hover, #app #sub:hover, #app #div:hover, #app #mult:hover {
  background-color: #40928c;
}

#app #sum {
  grid-area: sum;
}

#app #sub {
  grid-area: sub;
}

#app #div {
  grid-area: div;
}

#app #mult {
  grid-area: mult;
}

#app #dot {
  grid-area: dot;
  color:hsl(0, 0%, 100%) 
}

#app #equal {
  grid-area: equal;
  background-color: #7d7d7d;
}

#app #equal:hover {
  background-color: #5b5b5b;
}

#app #num0 {
  grid-area: num0;
  color:#ccff00
}

#app #num1 {
  grid-area: num1;
  color:#ccff00
}

#app #num2 {
  grid-area: num2;
  color:#ccff00
}

#app #num3 {
  grid-area: num3;
  color:#ccff00
}

#app #num4 {
  grid-area: num4;
  color:#ccff00
}

#app #num5 {
  grid-area: num5;
  color:#ccff00
}

#app #num6 {
  grid-area: num6;
  color:#ccff00
}

#app #num7 {
  grid-area: num7;
  color:#ccff00
}

#app #num8 {
  grid-area: num8;
  color:#ccff00
}

#app #num9 {
  grid-area: num9;
  color:#ccff00
}